#collage{
	height: 600;
	width: 1024;
	padding-left: 10%;
	padding-top: 5%;
}

#chester:hover {
	height:100%;
	width:200%;
}

body {
	background: #FC354C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}